<ion-header>
    <ion-toolbar>
        <ion-title>{{data.name}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <model-viewer [style.background-color]="colorCh" [src]="obj_link" alt="A 3D model" ar-modes="webxr scene-viewer quick-look" environment-image="neutral" auto-rotate camera-controls>


        <a id="ar-button" href="https://arvr.google.com/scene-viewer/1.0?file={{obj_link}}&mode=ar_only#Intent;scheme=https;package=com.google.ar.core;action=android.intent.action.VIEW;S.browser_fallback_url=https://developers.google.com/ar;end;"></a>;
    </model-viewer>

    <ion-card class="card_name">
        <ion-card-header>
            <div class="header">
                <div class="header__title">
                    <ion-card-title>{{nameCh}}</ion-card-title>
                    <ion-card-subtitle>{{data.price}} TL</ion-card-subtitle>
                </div>
                <div class="header__price">
                    <ion-icon *ngIf="!checkF" (click)="addItem()" name="heart-outline" size="large"></ion-icon>
                    <ion-icon *ngIf="checkF" (click)="removeItem(data.id)" name="heart" size="large"></ion-icon>
                </div>
            </div>

        </ion-card-header>
    </ion-card>

    <ion-card>
        <ion-card-header (click)="getUser()">
            <ion-card-subtitle>Açıklama</ion-card-subtitle>

        </ion-card-header>
        <ion-card-content>
         {{data.conten}}
        </ion-card-content>
    </ion-card>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="dark">
            <ion-icon name="chatbubbles-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">

            <ion-fab-button color="light" href="https://api.whatsapp.com/send?phone=+905523371080">
                <ion-icon name="logo-whatsapp"></ion-icon>
            </ion-fab-button>


            <ion-fab-button color="light" href="tel:+905523371080">
                <ion-icon name="call-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light" href="https://myktybekomur.github.io/arweb/">
                <ion-icon name="logo-google"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light" href="https://www.instagram.com/omurbekov_mm?r=nametag">
                <ion-icon name="logo-instagram"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>