ion-item-sliding {
    --padding: 0px;
    --margin: 0px 0px;
}

ion-card {
    height: 70px;
    margin: 10px;
    ion-item {
        img {
            height: 70px;
            width: 100px;
        }
    }
}

ion-item-options {
    width: 20%;
    ion-item-option {
        width: 20%;
    }
}